.carousel-container {
    overflow: hidden;
    height: 500px;
}

@media (max-width:480px) {
    .carousel-container {
        height: 500px;
        width: 90vw;
        display: flex;
        justify-content: center;
        margin: 1em;
    }
}